<style>

.s{
    text-align: center;
    margin: auto;
}

.exped{
    top: 2%;
}

</style>

<div class="mapBack">
<div class="exped"><div class="expedInner">
<div class="s">
<br>


<p>
<h1>Info</h1>
<br>
Welcome to RubyOnTrails, a exploration game vaguely reminiscent of the classics such as Amazon Trail or Oregon Trail, built on Rails!
<br><br>
Sign up, log in, create a new explorer to get an expedition started!
<br><br>
You will have the option to hire Yoan as your semi-trusty guide, as well as bring along a fearsome weapon in case you despise animals.
<br><br>
You start every expedition with 100 rations to get you through your journey.
<br><br>
You will be allowed to explore every area <strong>once</strong>. 
<br><br>
The deeper you go, the risk increases, but so does the possibility of finding riches beyond your wildest imaginations.
<br><br>
Will you run out of rations before you find your dreams? Will Yoan perish due to your reckless greed? Or will you (and maybe Yoan) make it out not only alive with long lost treasures worth millions?
<br><br>
</p>
</div>
</div>

</div>
</div>