/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.mapBack {
    position: absolute;
    top: 40px;
    bottom: 20px;
    background-image: url('backgroundGameImg.jpg');
    /* background-color: salmon; */
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;


 }
/* .explorerLink{
    background-color: rgb(197, 92, 0);
} */
.explorerLonk{
    border-radius: 4px;
    
    
    background-color: rgb(197, 92, 0);

    color: whitesmoke;
}
.explorerLonk:hover{
    color: lightgray;
}

.home-div {
    flex: 1 0 30%;
    position: absolute;
    top: 50%;
    left: 42%;
}
.home-div2{
    flex: 1 0 70%;
    position: absolute;
    top: 50%;
    left: 50%; 
} 
.exped{
    text-align: center;
    width: 35%;
    background-color: burlywood;
    position: relative;
    top: 35%;
    left: 30%;
    border-radius: 50px;
}
.expedInner{
    text-align: left;
    display: inline-block;
   
}
.img{
    /* max-width: 100%;
    min-height: 100%; */
    width: 700px;
    height: 450px;
    object-fit: fill;
}


